body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b2ddef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1, h3, p, a {
    text-align: center;
    margin: 10px 0;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}
